@import url("../../.config/swaync/colors.css");
* {
    background-image: none;
    font-size: 16pt;
    font-family: "Pixel Code";
}

window {
    background-color: rgba(17, 17, 17, 0.42)
}

button {
    border-radius: 33px;
    margin: 20px;
    color: @inverse_surface;
    border-color: @inverse_surface;
    background-color: rgba(0, 0, 0, 0.0);
    outline-style: none;
    border-style: solid;
    background-size: 20%;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px 2px transparent;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button label {
    font-family: "Pixel Code";
    font-size: 18px;
    color: transparent;
    opacity: 0;
    transition: all 0.3s ease;
}

button:hover label, button:focus label {
    color: @inverse_surface;
    opacity: 1;
}

button:hover,button:focus {
    background-color: @primary;
    background-size: 40%;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button span {
    font-size: 1.2em;
}

#lock {
    background-image: image(url("./icons/lock.png"));
}

#logout {
    background-image: image(url("./icons/logout.png"));
}

#shutdown {
    background-image: image(url("./icons/power.png"));
}

#reboot {
    background-image: image(url("./icons/restart.png"));
}
