@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: 'Pixel Code', sans-serif;
    font-weight:  Bold;
    font-size: 14px;
    min-height: 28px;
    border-radius: 33px;
}

#custom-recorder {
   background-color: @background;
   color: @color1;
    margin: 0 0px 0 5px;
    padding: 0 10px 0 10px;
   min-width: 40px;
}
#tray {
    background-color: @background;
    color: @color2;
    margin: 0 5px 0 5px;
    padding: 0 10px;
}
#window {
    background-color: @background;
    color: @color2;
    margin: 0 5px 0 0px;
    padding: 0 10px;
    min-width: 0px;
}
window#waybar.empty #window {
    background-color: transparent;
    color: transparent;
}
#custom-backlight-desktop,
#custom-swaync {
    background-color: @background;	
    font-size: 16px;
    padding: 0 10px;
    margin: 0 0px 0 5px;
    color: @color3;
}

#custom-swaync.notification {
    color: @color2;
}

#custom-power {
    background-color: @background;
    color: @color2;
    font-size: 20px;
    margin: 0 0px 0 5px;
    padding: 0 15px 0 15px;
}

#mpris {
    background-color: @background;
    padding: 0 16;
    color: @color2;
    margin: 0 5px 0 5px;
    font-size: 16px;
}
mpris#waybar.empty #mpris {
    background-color: transparent;
    color: transparent;
}
window#waybar {
    background-color: @transparent;
    color: @background;
    min-height: 40px;
}

#workspaces button.active {
    background-color: alpha(@color1, 0.5);
    color: @color2;
    padding: 0 5px;
    margin: 5 0px 5 0px;
    min-width: 40px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces button {
    color: @color2;
    margin: 5px 0px;
    padding: 0 5px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

#workspaces {
    background-color: @background;
    padding: 0 5px;
    margin: 0;
}

.modules-left {
    margin-left: 12px;    
}

.modules-right {
    margin-right: 12px;    
}
#custom-backlight-desktop,
#custom-swaync, 
#battery,
#pulseaudio,
#backlight,
#network,
#custom-power{
    color: @color10;
    background-color: @background;
    margin: 0px 0px;
    font-size: 16px;
    border-radius: 0;
    padding: 0 15px 0 15px;
    border: 0px solid @color10;
}

#backlight,
#custom-backlight-desktop {
    border-radius: 33px 0 0 33px;
    margin-left: 5px;
}

#custom-power {
    border-radius: 0px 33 33 0px;
    margin-right: 5px;
    font-size: 22px;	
}
#clock {
    background-color: @background;
    color: @color2;
    font-size: 16px;
    padding: 0 15px 0 15px;
}

#network {
    color: @color3;
}

#pulseaudio {
    color: @color4;
}

#backlight {
    color: @color4;
}


