* {
  color:            @text;
  all: unset;
  font-size: 14px;
  font-family: "Google Sans";
  transition: 200ms;

}

.blank-window {  
  background: transparent;  
}
  
/* CONTROL CENTER ------------------------------------------------------------------------ */

.control-center {
  background: @surface_container;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 24px;
  border: 0px solid @secondary_fixed_dim;
  margin: 18px;
  padding: 12px;
}
.widget-volume {
  background-color: @surface_container;
  border-radius: 16px; 
  margin: 10px 18px; 
  padding: 15px;
  min-height: 40px;
}

.widget-volume box {
  margin: 5px;
}

.widget-volume label {
  font-size: 1.9rem;
  color: @secondary_fixed_dim;
  margin-right: 10px;
}

.widget-volume scale {
  -gtk-icon-shadow: none;
  box-shadow: none;
  background-image: none;
  min-height: 40px;
}

.widget-volume highlight {
  background: @primary_fixed_dim; 
  border-radius: 33px;
  min-height: 40px;
}

.widget-volume trough {
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 33px;
  min-height: 40px;
}
	
.control-center .notification-row .notification-background,
.control-center .notification-row .notification-background .notification.critical {
  background-color: @surface_container_high;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  margin: 4px 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .notification.critical {
  color: @urgent;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 6px;
  color: @text;
  padding: 8px 6px 2px 2px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  background: alpha(@surface_container, .6);
  color: @text;
  border-radius: 12px;
  margin: 6px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background: @selected;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @surface_container;
}

.control-center .notification-row .notification-background .close-button {
  background: transparent;
  border-radius: 6px;
  color: @text;
  margin: 0px;
  padding: 4px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @primary_fixed;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @primary_fixed;
}

progressbar,
progress,
trough {
  border-radius: 12px;
}

progressbar {
  background-color: rgba(255,255,255,.1);
}

.notification-group {
  margin: 2px 8px 2px 8px;

}
.notification-group-headers {
  font-weight: bold;
  font-size: 1.25rem;
  color: @text;
  letter-spacing: 2px;
}

.notification-group-icon {
  color: @text;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
  background: transparent;
  color: @text;
  margin: 4px; 
  border-radius: 6px;
  padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
  background: @primary_fixed;
}  

/* WIDGETS --------------------------------------------------------------------------- */
.widget-title {
  font-size: 1.2em;
  margin: 6px;
}

.widget-title button {
  background: @on_surface_container_high;
  border-radius: 6px;
  padding: 4px 16px;
}

.widget-title button:hover {
  background-color: @primary_fixed;
}

.widget-title button:active {
  background-color: @primary_fixed_dim;
}

.widget-dnd {
  margin: 6px;
  font-size: 1.2rem;
}

.widget-dnd > switch {
  background: @surface_container;
  font-size: initial;
  border-radius: 8px;
  box-shadow: none;
  padding: 2px;
}

.widget-dnd > switch:hover {
  background: @secondary_fixed;
}

.widget-dnd > switch:checked {
  background: @primary_fixed_dim;
}

.widget-dnd > switch:checked:hover {
  background: @surface_container;
}

.widget-dnd > switch slider {
  background: @primary_fixed;
  border-radius: 6px;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 6px 2px;
  margin: 6px;
  border-radius: 12px;
  background: @surface_container_high;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
  margin: 4px 10px;
  padding: 6px 12px;
  background: transparent;
  border-radius: 8px;
  color: @text;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
  background: @primary_fixed_dim;
}


.widget-mpris {
    background: @surface_container;
    border-radius: 16px;
    color: @text;
    margin:  20px 6px;
}

.widget-mpris-player {
    background-color: @surface_container;
    border-radius: 22px;
    padding: 6px 14px;
    margin: 6px;
}

.widget-mpris > box > button {
  color: @text;
  border-radius: 20px;
}
 
.widget-mpris button {
  color: alpha(@text, .6);
  font-weight: 500;
}

.widget-mpris button:hover {
  color: @primary;
}

.widget-mpris-album-art {
  border-radius: 66px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}
 
.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}

picture.mpris-background {
  opacity: 0.15;
  filter: blur(10px);	
}
.widget-volume {
  background: @background-sec;
  color: @background;
  padding: 4px;
  margin: 6px;
  border-radius: 6px;
}
