@import url("../../.config/swaync/colors.css");

window {
    background-color: @surface_container;
    opacity: 0.95;
    border: 2px solid @primary;
    border-radius: 33px;
}

#container {
    margin: 10px;
}

scale trough {
    background-color: @on_surface_variant;
    color: @primary;
    min-height: 40px;
    border-radius: 8px;
    border: 2px solid @outline;
}

scale highlight {
    background-color: @primary;
    color: @primary;
    border-radius: 8px;
}

scale slider {
    background-color: @primary_fixed;
    color: @primary;
    min-width: 90px;
    min-height: 90px;
}

image {
    color: @primary;
}

label {
    color: @on_surface;
}

image.muted {
    color: @error;
}
