@import url("../../.config/swaync/colors.css");

window {
    background-color: @background;
    opacity: 0.95;
    border: 2px solid @primary;
    border-radius: 12px;
}

#container {
    margin: 16px;
}

scale trough {
    background-color: @on_surface_variant;
    min-height: 12px;
    border-radius: 8px;
    border: 2px solid @outline;
}

scale highlight {
    background-color: @primary;
    border-radius: 8px;
}

scale slider {
    background-color: @primary_fixed;
    min-width: 15px;
    min-height: 15px;
}

image {
    color: @primary;
}

label {
    color: @on_surface;
}

image.muted {
    color: @error;
}
