@import "~/.config/rofi/colors.rasi"

* {

    bg0:    @surface-container;              
    bg1:    @surface-container-low;  
    bg2:    @primary-container;    
    bg3:    @primary;  
    
    fg0:    @on-surface;          
    fg1:    @on-surface-variant;    
    fg2:    @on-primary;            
    fg3:    @inverse-on-surface;
}

@import "template/rounded-template.rasi"
