* {
    primary: #8cdb3d;
    primary-fixed: #a7f857;
    primary-fixed-dim: #8cdb3d;
    on-primary: #1c3700;
    on-primary-fixed: #0e2000;
    on-primary-fixed-variant: #2b5000;
    primary-container: #72be1e;
    on-primary-container: #112500;
    secondary: #aad380;
    secondary-fixed: #c5f09a;
    secondary-fixed-dim: #aad380;
    on-secondary: #1c3700;
    on-secondary-fixed: #0e2000;
    on-secondary-fixed-variant: #2e4f0b;
    secondary-container: #30520d;
    on-secondary-container: #c7f19b;
    tertiary: #42dfa7;
    tertiary-fixed: #65fcc1;
    tertiary-fixed-dim: #42dfa7;
    on-tertiary: #003826;
    on-tertiary-fixed: #002115;
    on-tertiary-fixed-variant: #005139;
    tertiary-container: #00c28c;
    on-tertiary-container: #002618;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #10150b;
    on-surface: #e0e5d3;
    on-surface-variant: #c1cab2;
    outline: #8b947e;
    outline-variant: #414a37;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e0e5d3;
    inverse-on-surface: #2d3227;
    inverse-primary: #3a6a00;
    surface-dim: #10150b;
    surface-bright: #363b2f;
    surface-container-lowest: #0b1006;
    surface-container-low: #181d13;
    surface-container: #1c2116;
    surface-container-high: #272c20;
    surface-container-highest: #31362b;
}
